
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8"/>
	<title>es6 项目</title>
</head>
<body>
<div id="content"></div>
<script type="text/html" id="appTpl"></script>
<script src="./bundle.js"></script>
</body>
</html>